<div class="full-screen">
  <div class='container-eye'>
    <span class="error-num">5</span>
    <div id='eye1'></div>
    <div id='eye2'></div>
    <p class="sub-text">{{ error }}</p>
    <a href="/">Go back</a>
  </div>
</div>